.inline {
  display: inline-block;
  vertical-align: top;
}

.column{
	width: 300px;
	margin-right: 20px;
}

.field{
	width: 100%;
}

#view_axial {
  height: 280px; }

#view_coronal {
  height: 280px;
}

#view_sagittal {
  height: 280px; }


.nav-slider-vertical {
  height: 100%;
  margin-left: 3px;
  float: left; }

.nav-slider-horizontal {
  width: 100%;
  margin-top: 3px;
  float: left; }

canvas {
  float: left; 
}

.data_display_row{
	width: 150px;
}

.visibility_icon {
	font-size: 15px;
	text-align: center;
	padding: 3px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	display: inline-block;
}

.download_icon {
	font-size: 15px;
	text-align: center;
	padding: 3px;
	border-left: 1px solid #999;
	display: inline-block;
}

.deletion_icon {
	font-size: 15px;
	text-align: center;
	padding: 3px;
	border-left: 1px solid #999;
	display: inline-block;
}

ul#layer_list li {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ddb #999 #999 #ddb;
	margin: 0px;
	display: inline-block;
}

.layer_label {
	width: 170px;
	padding: 3px;
	display: inline-block;
}

ul#layer_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
}

.selected {
	background: #cff;
}