<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="ABIDE Preprocessed : An initiative of the Preprocessed Connectomes Project" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>ABIDE Preprocessed</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="https://github.com/ccraddock/abide_preproc">View on GitHub</a>-->

          <h1 id="project_title">ABIDE Preprocessed</h1><br>
          <!-- <h2 id="project_tagline">An initiative of the Preprocessed Connectomes Project</h2>
               -->    
          <nav class="nav-global">
              <ul>
                  <li class="Overview"><a href="index.html">Overview</a></li>
                  <li class="Download"><a href="download.html">Download</a></li>
                  <li class="Installation"><a href="Pipelines.html">Pipelines</a></li>
                  <li class="Usage"><a href="quality_assessment.html">Quality Assessment</a></li>
                  <li class="View on Github"><a href="http://github.com/preprocessed-connectomes-project/abide">View on Github</a></li>
              </ul>
          </nav>
          
          <!--

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/ccraddock/abide_preproc/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/ccraddock/abide_preproc/tarball/master">Download this project as a tar.gz file</a>
            </section> -->
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">


       {{ content }}


      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Abide preproc maintained by <a href="https://github.com/ccraddock">ccraddock</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
