<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="description" content="Preprocessed Connectomes Project" />

        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="javascripts/menu_script.js"></script>
        <title>ABIDE Preprocessed</title>
    </head>

    <body>
      
        <div id="container">

        <!-- HEADER -->
            <header>
                <!--<a id="forkme_banner" href="https://github.com/ccraddock/abide_preproc">View on GitHub</a>-->

                <h1 id="project_title">ABIDE Preprocessed</h1><br>
  		        <div id='cssmenu'>
  		            <ul>
  		                <li class='active'><a href='index.html'>Overview</a></li>
                        <li class='active'><a href='download.html'>Download</a></li>
  		                <li class='active'><a href='Pipelines.html'>Pipelines</a></li>
                        <li class='active'><a href="quality_assessment.html">QA</a></li>
                        <li class='active'><a href='https://groups.google.com/d/forum/pcp_forum' target="_blank">Forum</a></li>
                        <li class='active'><a href='publications.html'>Publications</a></li>
                        <li class='active'><a href='https://preprocessed-connectomes-project.github.io' target="_blank">PCP</a></li>
  		                <li class='active'><a href='https://github.com/preprocessed-connectomes-project' target="_blank">Github</a></li>

  		            </ul>
  		        </div>
            </header>
            
                <div id="main_content_wrap" class="outer">
                    <section id="main_content" class="inner">
                        {{ content }}
                    </section>
                </div>
                    
            <!-- FOOTER  -->
            <footer class="inner">
                <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
            </footer>
    
        </div>  
    </body>
</html>
